@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Styles for lazy loaded images */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 1ms ease-in, -webkit-filter 1ms ease-in;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* Styles for copy to clipboard for codeblock */

.copy-to-clipboard {
  text-align: right;
  padding-right: 15px;
  margin: -25px 0 25px;
}

.copy-to-clipboard button {
  background: none;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--secondary-color);
  cursor: pointer;
  cursor: hand;
  outline: 0;
  padding: 0;
}

.copy-to-clipboard button:hover {
  color: var(--heading-color);
}

/* Style for theme switch button */
.theme-switch-button {
  border: none;
  background: none;
  cursor: pointer;
  cursor: hand;
  color: var(--heading-color);
  outline: 0;
}

.theme-switch-button svg {
  fill: var(--heading-color);
}


:root {
  --primary-color: #0070f4;
  --secondary-color: #666;
  --font-color: #000;
  --bg-color: #fff;
  --heading-color: #000;
  --highlight-color: #84ffb5;
  --hr-color: #eee;
  --writing-body: #444;
  --uses-secondary-color: #bbb;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #666;
  --font-color: #fff;
  --bg-color: #010101;
  --heading-color: #fff;
  --highlight-color: #f81de6;
  --hr-color: #222;
  --writing-body: #ccc;
}

::-moz-selection { background: var(--highlight-color); }
::selection { background: var(--highlight-color); }

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

* {
  transition: background .2s linear;
}

h1, h2, h3, h4, h5, h6 {
  font-family : system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--heading-color);
}

hr {
  border: none;
  border-top: 1px var(--hr-color) solid;
  margin: 45px 0;
}

.text-6xl {
  background-color: var(--bg-color);
  color: var(--font-color);
}